header {
  text-align: center;
  margin-top: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
  margin-left: 80px;
}

.flex-container {
  display: flex;
  justify-content: center;
  grid-gap: 1em;
}

.bold {
  font-weight: bold;
}

.center{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.center h1 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.another-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 80px;
}

.item{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
  background-color: #fff1e6;
  font-style: normal;
}

h2 {
  font-family: source-sans-pro;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
}

img {
  height: 70vh;
  padding-right: 60px;
}

h1 {
  font-family: 'EB Garamond', serif;
  color: #fff1e6;
  font-style: normal;
  font-weight: 400;
  font-size: 3.8em;
  text-align: center;
}

p {
  color: #fff1e6;
  line-height: 2.5rem;
}

footer {
  font-size: 6px;
  color: black;
  text-align: center;
  clear: both;
  width: 100%;
  height: 48px;
  padding-top: 48px;
  padding-bottom: 30px;
}

@media (max-width:900px){
  .another-flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item {
    text-align: center;
  }
  img {
    padding-right:0;
    padding-bottom: 60px;
  }
}