header {
  text-align: center;
  margin-top: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
  margin-left: 80px;
}

.flex-container {
  display: flex;
  justify-content: center;
  grid-gap: 1em;
}

.bold {
  font-weight: bold;
}

.center{
  text-align: center;
}

.another-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

body {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
  background-color: #fff1e6;
  font-style: normal;
}

h1 {
  font-family: 'EB Garamond', serif;
  color: #fff1e6;
  font-style: normal;
  font-size: 6.5em;
  text-align: center;
}

h2 {
  font-family: source-sans-pro;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
}

img {
  max-width: 50%;
  height: auto;
}

h1 {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.8em;
  text-align: center;

}

p {
  color: #fff1e6;
  text-align: center;
}

footer {
  font-size: 6px;
  color: black;
  text-align: center;
  clear: both;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 48px;
  padding-top: 48px;
  padding-bottom: 30px;
}